a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
body{
  background-image: url("sp.jpg");
   background-repeat: no-repeat;
    background-size: cover;
}
